{
  "openapi": "3.0.1",
  "info": {
    "title": "VisaNet Connect - Acceptance",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Authorization API",
      "description": "Visa Payments Processing API"
    },
    {
      "name": "Settlement Position Inquiry API",
      "description": "Settlement Position Inquiry API"
    }
  ],
  "paths": {
    "/acs/v3/payments/authorizations/{id}/voids": {
      "post": {
        "tags": [
          "Authorization API"
        ],
        "summary": "Void Authorizations with id v3",
        "description": "Used to void an \"Authorizations\" resource.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id used in path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 32,
              "minLength": 15,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authorizations_void_id"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "msgIdentfctn": {
                      "clientId": "1VISAGCT000001",
                      "correlatnId": "Gg6yTAyWkmhyq0jPKHziafG"
                    },
                    "Hdr": {
                      "TracData": {
                        "Val": "anyroundtripinfo",
                        "Tp": "AddtnlTraceData"
                      }
                    },
                    "Body": {
                      "Tx": {
                        "TxAttr": [
                          "INST"
                        ],
                        "AddtlData": {
                          "Val": "freeformdata",
                          "Tp": "FreeFormDescData"
                        },
                        "AltrnMsgRsn": "2501",
                        "TxAmts": {
                          "TxAmt": {
                            "Amt": "123.45"
                          }
                        }
                      },
                      "Envt": {
                        "Accptr": {
                          "PaymentFacltId": "52014057",
                          "Accptr": "520142254322",
                          "CstmrSvc": "1 4155552235",
                          "FrgnRtlrInd": true,
                          "Adr": {
                            "PstlCd": "78463",
                            "CtrySubDvsnMjr": "03",
                            "Ctry": "US",
                            "CtrySubDvsnMnr": "011"
                          }
                        },
                        "Termnl": {
                          "TermnlId": {
                            "Id": "10012343"
                          }
                        }
                      },
                      "Cntxt": {
                        "TxCntxt": {
                          "MrchntCtgyCd": "4814"
                        },
                        "PtOfSvcCntxt": {
                          "CardDataNtryMd": "CDFL"
                        }
                      },
                      "AdddmData": {
                        "AddtlData": {
                          "Val": "1234567890",
                          "Tp": "PlanRegSysId"
                        },
                        "Instlmt": {
                          "PmtSeqNb": "12",
                          "Plan": [
                            {
                              "DfrrdInstlmtInd": true,
                              "PrdUnit": "WEEK",
                              "SbsqntAmt": "9999.99",
                              "TtlNbOfPmts": 24,
                              "InstlmtCcy": 840,
                              "NbOfPrds": "2",
                              "PlanOwnr": "ISSR",
                              "GrdTtlAmt": "234.56"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_authorizations_void"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "msgIdentfctn": {
                        "reqstId": "14312E380A7211FC72861E215BAB9C99",
                        "correlatnId": "Gg6yTAyWkmhyq0jPKHziafG",
                        "id": "382066735140001"
                      },
                      "Hdr": {
                        "TracData": {
                          "Val": "anyroundtripinfo",
                          "Tp": "AddtnlTraceData"
                        }
                      },
                      "Body": {
                        "Tx": {
                          "AddtlData": {
                            "Val": " freeformdata",
                            "Tp": "FreeFormDescData"
                          },
                          "TxAmts": {
                            "TxAmt": {
                              "Ccy": "8",
                              "Amt": "123.45"
                            }
                          }
                        },
                        "Envt": {
                          "Card": {
                            "CardPrtflIdr": "292334",
                            "PmtAccRef": "V0010013822066687991488028016",
                            "CardPdctTp": "F"
                          }
                        },
                        "Cntxt": {
                          "TxCntxt": {
                            "XchgRateInf": [
                              {
                                "XchgRateDtl": {
                                  "Rate": "80933097"
                                }
                              }
                            ]
                          }
                        },
                        "PrcgRslt": {
                          "RsltData": {
                            "AddtlRsltInf": [
                              {
                                "Val": "VAU008",
                                "Tp": "VAURsnCd"
                              }
                            ],
                            "RsltDtls": "00",
                            "Rslt": "Processed"
                          }
                        },
                        "AdddmData": {
                          "AddtlData": {
                            "Val": "1234567890",
                            "Tp": "PlanRegSysId"
                          },
                          "Instlmt": {
                            "PmtSeqNb": "12",
                            "Plan": [
                              {
                                "DfrrdInstlmtInd": "true",
                                "PrdUnit": "WEEK",
                                "SbsqntAmt": "9999.99",
                                "TtlNbOfPmts": "24",
                                "InstlmtCcy": "840",
                                "NbOfPrds": "2",
                                "PlanOwnr": "ISSR",
                                "GrdTtlAmt": "234.56"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1acs~1v3~1payments~1authorizations~1{id}~1voids/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/acs/v3/payments/authorizations": {
      "post": {
        "tags": [
          "Authorization API"
        ],
        "summary": "Authorizations v3",
        "description": "Used for new \"Authorizations\" resource requests.",
        "requestBody": {
          "description": "Request data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authorizations"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "msgIdentfctn": {
                      "clientId": "1VISAGCT000001",
                      "correlatnId": "Gg6yTAyWkmhyq0jPKHziafe"
                    },
                    "Body": {
                      "Tx": {
                        "TxAttr": [
                          "INST"
                        ],
                        "TxDesc": "transactiondescription",
                        "TxId": {
                          "LclDtTm": "2016-11-25T01:02:03"
                        },
                        "AddtlData": {
                          "Val": "freeformdata",
                          "Tp": "FreeFormDescData"
                        },
                        "TxAmts": {
                          "AmtQlfr": "ESTM",
                          "TxAmt": {
                            "Ccy": "008",
                            "Amt": "123.45"
                          }
                        }
                      },
                      "Envt": {
                        "Accptr": {
                          "PaymentFacltId": "52014057",
                          "CstmrSvc": "1 4155552235",
                          "ShrtNm": "ABC Supplies",
                          "Id": "999999999999999",
                          "FrgnRtlrInd": true,
                          "Adr": {
                            "PstlCd": "78463",
                            "CtrySubDvsnMjr": "03",
                            "Ctry": "US",
                            "CtrySubDvsnMnr": "011"
                          }
                        },
                        "Termnl": {
                          "TermnlId": {
                            "Id": "99999999"
                          }
                        },
                        "Wllt": {
                          "Prvdr": {
                            "Id": "VCIND"
                          }
                        },
                        "Card": {
                          "XpryDt": "2312",
                          "PAN": "4000220177656623"
                        }
                      },
                      "Cntxt": {
                        "Vrfctn": [
                          {
                            "VrfctnInf": {
                              "Val": {
                                "HexBinryVal": "099010618111100000000788400707000000000"
                              },
                              "Tp": "authenticationValue"
                            },
                            "Tp": "THDS"
                          },
                          {
                            "VrfctnInf": {
                              "Val": {
                                "TxtVal": "321"
                              }
                            },
                            "Tp": "CSCV"
                          },
                          {
                            "VrfctnInf": {
                              "Val": {
                                "TxtVal": "PO Box 12345"
                              }
                            },
                            "Tp": "ADDB"
                          },
                          {
                            "VrfctnInf": {
                              "Val": {
                                "TxtVal": "12345"
                              }
                            },
                            "Tp": "PCDV"
                          }
                        ],
                        "TxCntxt": {
                          "MrchntCtgyCd": "3501",
                          "MrchntCtgySpcfcData": "B",
                          "AuthntcnOutgInd": true
                        },
                        "PtOfSvcCntxt": {
                          "CardDataNtryMd": "CDFL"
                        },
                        "SaleCntxt": {
                          "GoodsAndSvcsTp": "ELEC",
                          "GoodsAndSvcsSubTp": "CRCU"
                        }
                      },
                      "SplmtryData": [
                        {
                          "Envlp": {
                            "StrngCstmrAuthntcn": {
                              "Xmptn": [
                                {
                                  "Val": "CLAI",
                                  "Tp": "TMBE"
                                },
                                {
                                  "Val": "NCLA",
                                  "Tp": "LOWA"
                                }
                              ],
                              "DlgtdAuthrty": "CLAI"
                            }
                          },
                          "PlcAndNm": "EUPSD2SCADataSD1V01"
                        }
                      ],
                      "AdddmData": {
                        "AddtlData": {
                          "Val": "1234567890",
                          "Tp": "PlanRegSysId"
                        },
                        "Instlmt": {
                          "PmtSeqNb": "12",
                          "Plan": [
                            {
                              "DfrrdInstlmtInd": true,
                              "PrdUnit": "WEEK",
                              "SbsqntAmt": "9999.99",
                              "TtlNbOfPmts": 24,
                              "InstlmtCcy": 840,
                              "NbOfPrds": "2",
                              "PlanOwnr": "ISSR",
                              "GrdTtlAmt": "234.56"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_authorizations"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "msgIdentfctn": {
                        "reqstId": "48E43E7E152B6A00533EA64731514976",
                        "correlatnId": "Gg6yTAyWkmhyq0jPKHziafe",
                        "id": "382056700290001"
                      },
                      "_links": {
                        "authVoid": {
                          "href": "/acs/v3/payments/authorizations/382056700290001/voids"
                        },
                        "authCapture": {
                          "href": "/acs/v3/payments/authorizations/382056700290001/captures"
                        }
                      },
                      "Body": {
                        "Tx": {
                          "AddtlData": {
                            "Val": " freeformdata",
                            "Tp": "FreeFormDescData"
                          },
                          "SpclPrgrmmQlfctn": {
                            "Dtls": [
                              {
                                "Val": "V",
                                "Nm": "ACI"
                              },
                              {
                                "Val": "XHKX",
                                "Nm": "ValCode"
                              }
                            ],
                            "Prgrmm": "CPS"
                          },
                          "TxAmts": {
                            "TxAmt": {
                              "Ccy": "8",
                              "Amt": "123.45"
                            }
                          }
                        },
                        "Envt": {
                          "Card": {
                            "PANFourLastDgts": "6623",
                            "CardPrtflIdr": "292334",
                            "PmtAccRef": "V0010013822056700299530909254",
                            "CardPdctTp": "F"
                          }
                        },
                        "Cntxt": {
                          "Vrfctn": [
                            {
                              "VrfctnRslt": {
                                "RsltDtls": "Y"
                              },
                              "Tp": "ADDB"
                            },
                            {
                              "VrfctnRslt": {
                                "RsltDtls": "Y"
                              },
                              "Tp": "PCDV"
                            },
                            {
                              "VrfctnRslt": {
                                "RsltDtls": "M",
                                "Rslt": "SUCC"
                              },
                              "Tp": "CSCV"
                            },
                            {
                              "VrfctnRslt": {
                                "Tp": "DAF"
                              }
                            }
                          ],
                          "TxCntxt": {
                            "XchgRateInf": [
                              {
                                "RateLck": {
                                  "Elgbl": "N"
                                },
                                "XchgRateDtl": {
                                  "Rate": "80933097"
                                }
                              }
                            ],
                            "Rcncltn": {
                              "Dt": "--02-26"
                            }
                          },
                          "PtOfSvcCntxt": {
                            "EComrcData": [
                              {
                                "Val": "3",
                                "Tp": "ECI"
                              }
                            ]
                          },
                          "RskCntxt": {
                            "RskAssmnt": [
                              {
                                "AddtlRskData": {
                                  "Val": "10",
                                  "Tp": "CC"
                                },
                                "RskAssmntTp": "VTA"
                              }
                            ]
                          }
                        },
                        "PrcgRslt": {
                          "RsltData": {
                            "RsltDtls": "00",
                            "Rslt": "Approved"
                          },
                          "ApprvlData": {
                            "ApprvlCd": "123456"
                          }
                        },
                        "SplmtryData": [
                          {
                            "Envlp": {
                              "StrngCstmrAuthntcn": {
                                "Xmptn": [
                                  {
                                    "RsnNotHnrd": "8A02"
                                  }
                                ],
                                "DlgtdAuthrty": "1"
                              }
                            },
                            "PlcAndNm": "EUPSD2SCADataSD1V01"
                          }
                        ],
                        "AdddmData": {
                          "AddtlData": {
                            "Val": "1234567890",
                            "Tp": "PlanRegSysId"
                          },
                          "Instlmt": {
                            "PmtSeqNb": "33",
                            "Plan": [
                              {
                                "DfrrdInstlmtInd": "true",
                                "PrdUnit": "WEEK",
                                "SbsqntAmt": "9999.99",
                                "TtlNbOfPmts": "24",
                                "InstlmtCcy": "840",
                                "NbOfPrds": "2",
                                "PlanOwnr": "ISSR",
                                "GrdTtlAmt": "234.56"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1acs~1v3~1payments~1authorizations/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/acs/v3/payments/authorizations/voids": {
      "post": {
        "tags": [
          "Authorization API"
        ],
        "summary": "Void Authorizations without id v3",
        "description": "Used to void an \"Authorizations\" resource without a resource id.",
        "requestBody": {
          "description": "Request data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/authorizations_void"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "msgIdentfctn": {
                      "clientId": "1VISAGCT000001",
                      "correlatnId": "Gg6yTAyWkmhyq0jPKHziafG"
                    },
                    "Hdr": {
                      "TracData": {
                        "Val": "anyroundtripinfo",
                        "Tp": "AddtnlTraceData"
                      }
                    },
                    "Body": {
                      "Tx": {
                        "TxAttr": [
                          "INST"
                        ],
                        "AddtlData": {
                          "Val": "freeformdata",
                          "Tp": "FreeFormDescData"
                        },
                        "AltrnMsgRsn": "2501",
                        "TxAmts": {
                          "TxAmt": {
                            "Amt": "123.45"
                          }
                        }
                      },
                      "Envt": {
                        "Accptr": {
                          "PaymentFacltId": "52014057",
                          "Accptr": "520142254322",
                          "CstmrSvc": "1 4155552235",
                          "FrgnRtlrInd": true,
                          "Adr": {
                            "PstlCd": "78463",
                            "CtrySubDvsnMjr": "03",
                            "Ctry": "US",
                            "CtrySubDvsnMnr": "011"
                          }
                        },
                        "Termnl": {
                          "TermnlId": {
                            "Id": "10012343"
                          }
                        }
                      },
                      "Cntxt": {
                        "TxCntxt": {
                          "MrchntCtgyCd": "4814"
                        },
                        "PtOfSvcCntxt": {
                          "CardDataNtryMd": "CDFL"
                        }
                      },
                      "AdddmData": {
                        "AddtlData": {
                          "Val": "1234567890",
                          "Tp": "PlanRegSysId"
                        },
                        "Instlmt": {
                          "PmtSeqNb": "12",
                          "Plan": [
                            {
                              "DfrrdInstlmtInd": true,
                              "PrdUnit": "WEEK",
                              "SbsqntAmt": "9999.99",
                              "TtlNbOfPmts": 24,
                              "InstlmtCcy": 840,
                              "NbOfPrds": "2",
                              "PlanOwnr": "ISSR",
                              "GrdTtlAmt": "234.56"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/200_authorizations_void"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "msgIdentfctn": {
                        "reqstId": "14312E380A7211FC72861E215BAB9C99",
                        "correlatnId": "Gg6yTAyWkmhyq0jPKHziafG",
                        "id": "382066735140001"
                      },
                      "Hdr": {
                        "TracData": {
                          "Val": "anyroundtripinfo",
                          "Tp": "AddtnlTraceData"
                        }
                      },
                      "Body": {
                        "Tx": {
                          "AddtlData": {
                            "Val": " freeformdata",
                            "Tp": "FreeFormDescData"
                          },
                          "TxAmts": {
                            "TxAmt": {
                              "Ccy": "8",
                              "Amt": "123.45"
                            }
                          }
                        },
                        "Envt": {
                          "Card": {
                            "CardPrtflIdr": "292334",
                            "PmtAccRef": "V0010013822066687991488028016",
                            "CardPdctTp": "F"
                          }
                        },
                        "Cntxt": {
                          "TxCntxt": {
                            "XchgRateInf": [
                              {
                                "XchgRateDtl": {
                                  "Rate": "80933097"
                                }
                              }
                            ]
                          }
                        },
                        "PrcgRslt": {
                          "RsltData": {
                            "AddtlRsltInf": [
                              {
                                "Val": "VAU008",
                                "Tp": "VAURsnCd"
                              }
                            ],
                            "RsltDtls": "00",
                            "Rslt": "Processed"
                          }
                        },
                        "AdddmData": {
                          "AddtlData": {
                            "Val": "1234567890",
                            "Tp": "PlanRegSysId"
                          },
                          "Instlmt": {
                            "PmtSeqNb": "12",
                            "Plan": [
                              {
                                "DfrrdInstlmtInd": "true",
                                "PrdUnit": "WEEK",
                                "SbsqntAmt": "9999.99",
                                "TtlNbOfPmts": "24",
                                "InstlmtCcy": "840",
                                "NbOfPrds": "2",
                                "PlanOwnr": "ISSR",
                                "GrdTtlAmt": "234.56"
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/400"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request",
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1acs~1v3~1payments~1authorizations~1voids/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/settlement/v1/positions": {
      "get": {
        "tags": [
          "Settlement Position Inquiry API"
        ],
        "summary": "Get Settlement",
        "description": "Get Settlement Windows",
        "operationId": "Get Settlement",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "description": "Client Profile ID to query on",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "This is the offset into the results to begin returning from",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "This is the maximum number of reults to return in a single response message.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "asofdttm",
            "in": "query",
            "description": "Query for results as of a particular time stamp.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "GetSettlementResponse": {
                      "type": "object",
                      "properties": {
                        "pagingInfo": {
                          "type": "object",
                          "properties": {
                            "offset": {
                              "type": "string",
                              "description": "next offset into results set"
                            },
                            "asofdttm": {
                              "type": "string",
                              "description": "results as of date and time (yymmddhhmmss)"
                            }
                          }
                        },
                        "setlposcount": {
                          "type": "string",
                          "description": "Count of Settlement Positions"
                        },
                        "settlementRecords": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "ssid": {
                                "type": "string",
                                "description": "settlement service id"
                              },
                              "sreid": {
                                "type": "string",
                                "description": "sreid"
                              },
                              "setldate": {
                                "type": "string",
                                "description": "settlement date (mmdd)"
                              },
                              "cutofftime": {
                                "type": "string",
                                "description": "cut off time (hhmmss)"
                              },
                              "setlposamt": {
                                "type": "object",
                                "properties": {
                                  "setlcurrcd": {
                                    "type": "string",
                                    "description": "settlement currency code"
                                  },
                                  "amountValue": {
                                    "type": "string",
                                    "description": "settlement position amount"
                                  },
                                  "amountMinorUnits": {
                                    "type": "string",
                                    "description": "settlement position amount minor units"
                                  }
                                }
                              },
                              "setlposind": {
                                "type": "string",
                                "description": "settlement position indicator (I or F)"
                              },
                              "setlpossign": {
                                "type": "string",
                                "description": "settlement position sign, C or D"
                              }
                            }
                          }
                        }
                      },
                      "description": "good response"
                    }
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "pagingInfo": {
                        "offset": "1",
                        "asofdttm": "180430120000"
                      },
                      "settlementRecords": {
                        "settlementRecord": {
                          "cutofftime": "105959",
                          "setlposind": "F",
                          "setlpossign": "C",
                          "setldate": "0430",
                          "sreid": "0123456789",
                          "setlposamt": {
                            "setlcurrcd": "800",
                            "amountValue": "1000",
                            "amountMinorUnits": "2"
                          },
                          "ssid": "123"
                        }
                      },
                      "setlposcount": "1"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "required": [
                        "code",
                        "message"
                      ],
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "description": "Numeric error code",
                          "example": 3
                        },
                        "message": {
                          "type": "string",
                          "description": "Error message",
                          "example": "Client Id not found"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1settlement~1v1~1positions/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    }
  },
  "components": {
    "schemas": {
      "400": {
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/tempdef0"
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/tMessageIdentificationError"
          }
        },
        "description": "Used when validation fails or transaction is rejected."
      },
      "tCode": {
        "maxLength": 5,
        "type": "string",
        "description": "Code that can be used to contact Visa about a specific error.",
        "example": "2"
      },
      "authVoid": {
        "type": "object",
        "properties": {
          "href": {
            "type": "object",
            "description": "Hypermedia link.",
            "example": "https://sandbox.api.visa.com/acs/v3/payments/authorizations/123456789012345/voids"
          }
        }
      },
      "CardIssrRefData": {
        "type": "string",
        "description": "Gateway Transaction ID",
        "example": "1234567"
      },
      "ShrtNm": {
        "maxLength": 25,
        "minLength": 1,
        "type": "string",
        "description": "Contains the name of the card acceptor (merchant)",
        "example": "ABC Supplies"
      },
      "PmtAccRef": {
        "maxLength": 29,
        "type": "string",
        "description": "Positions 1 4 contain the BIN controller identifier, a four-character registered value assigned by EMVCo. Positions 5 29 contain a 25-alphanumeric character uppercase unique value linked to a PAN.",
        "example": "V0010013816097794952255278999"
      },
      "TtlFees": {
        "maxLength": 13,
        "minLength": 1,
        "type": "string",
        "description": "Total Fees",
        "example": "20.00"
      },
      "200_authorizations_void": {
        "type": "object",
        "properties": {
          "Hdr": {
            "$ref": "#/components/schemas/TracData"
          },
          "Body": {
            "title": "Body",
            "required": [
              "PrcgRslt"
            ],
            "type": "object",
            "properties": {
              "Tx": {
                "$ref": "#/components/schemas/tempdef51"
              },
              "Envt": {
                "$ref": "#/components/schemas/tEnvt2"
              },
              "Cntxt": {
                "$ref": "#/components/schemas/tcntxtVoid"
              },
              "PrcgRslt": {
                "$ref": "#/components/schemas/tempdef47"
              },
              "AdddmData": {
                "$ref": "#/components/schemas/AdddmDatavoidres"
              },
              "GatewayData": {
                "$ref": "#/components/schemas/GatewayDataResp"
              },
              "ICCRltdData": {
                "$ref": "#/components/schemas/ICCRltdData"
              }
            }
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/tMessageIdentificationRsp1"
          }
        }
      },
      "PrtlApprvlSpprtd": {
        "type": "boolean",
        "description": "Indicates whether the terminal can support partially approved amounts. Set to true if partial authorization is supported and false if partial authorization is not supported",
        "example": true
      },
      "RcrngPmt": {
        "type": "object",
        "properties": {
          "Tp": {
            "$ref": "#/components/schemas/RcrngPmtTp"
          },
          "Frqcy": {
            "$ref": "#/components/schemas/Frqcy"
          },
          "MaxAmt": {
            "$ref": "#/components/schemas/MaxAmt"
          },
          "ValInd": {
            "$ref": "#/components/schemas/ValInd"
          },
          "NbOfPmt": {
            "$ref": "#/components/schemas/NbOfPmt"
          },
          "RegnRefNb": {
            "$ref": "#/components/schemas/RegnRefNb"
          },
          "PerTxAmtTp": {
            "$ref": "#/components/schemas/PerTxAmtTp"
          }
        }
      },
      "SvcTp": {
        "maxLength": 4,
        "minLength": 4,
        "type": "string",
        "description": "Service Type. FLSV(Full service), SLSV(Self service)",
        "example": "FLSV",
        "enum": [
          "FLSV",
          "SLSV"
        ]
      },
      "correlatnId": {
        "maxLength": 32,
        "type": "string",
        "description": "correlatnId field must contain the same value as the original transaction being voided.",
        "example": "12bc567d90f23e56a8f012"
      },
      "tTx": {
        "type": "object",
        "properties": {
          "TxId": {
            "$ref": "#/components/schemas/tTxId"
          },
          "AcctFr": {
            "$ref": "#/components/schemas/tAcctFr"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/tTxAmts2"
          },
          "TxAttr": {
            "type": "array",
            "example": [
              "MOTO",
              "INST"
            ],
            "items": {
              "$ref": "#/components/schemas/TxAttr"
            }
          },
          "TxDesc": {
            "$ref": "#/components/schemas/TxDesc"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlSvc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddtlSvc"
            }
          },
          "AddtlData": {
            "$ref": "#/components/schemas/tTxAddtlDataTpVal"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn"
          },
          "PreAuthstnTmLmt": {
            "$ref": "#/components/schemas/PreAuthstnTmLmt"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/tSpclPrgrmmQlfctn"
          }
        }
      },
      "PtOfSvcCntxtvoid": {
        "type": "object",
        "properties": {
          "CardPres": {
            "$ref": "#/components/schemas/CardPres"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/AddtlDataPrchRstrctnInd"
          },
          "AttnddInd": {
            "$ref": "#/components/schemas/AttnddInd"
          },
          "EComrcInd": {
            "$ref": "#/components/schemas/EComrcInd"
          },
          "CrdhldrPres": {
            "$ref": "#/components/schemas/CrdhldrPres"
          },
          "CrdhldrActvtd": {
            "$ref": "#/components/schemas/CrdhldrActvtd"
          },
          "CardDataNtryMd": {
            "$ref": "#/components/schemas/CardDataNtryMd"
          }
        }
      },
      "GoodsAndSvcsTp": {
        "maxLength": 4,
        "type": "string",
        "description": "Specifies the type of goods and/or services sold. Possible values are: ELEC (Electronic goods and services), PHYS (Physical goods or services)",
        "example": "ELEC",
        "enum": [
          "ELEC",
          "PHYS"
        ]
      },
      "Tckt": {
        "type": "object",
        "properties": {
          "ChngInd": {
            "maxLength": 1,
            "type": "string",
            "description": "Contains a code that indicates why a ticket was changed.",
            "example": "N"
          },
          "RstrctdTcktInd": {
            "maxLength": 1,
            "type": "string",
            "description": "This subfield is used to indicate the purchase of a nonrefundable ticket. It is a conditional subfield for passenger transport transactions.",
            "example": "1"
          }
        }
      },
      "AnnlTtlCostFin": {
        "maxLength": 8,
        "minLength": 1,
        "type": "string",
        "description": "Annual Total Cost of Financing",
        "example": "4"
      },
      "tEnvt2": {
        "type": "object",
        "properties": {
          "Card": {
            "$ref": "#/components/schemas/tCard1"
          },
          "Accptr": {
            "$ref": "#/components/schemas/resAccptr"
          },
          "Termnl": {
            "$ref": "#/components/schemas/tTermnlvoid"
          }
        }
      },
      "Pssngr": {
        "type": "object",
        "properties": {
          "Nm": {
            "maxLength": 20,
            "type": "string",
            "description": "This 20-character subfield contains the passenger's name and is left-justified. Right space-fill is required.",
            "example": "John Smith"
          }
        }
      },
      "VhclRntlvoid": {
        "type": "object",
        "properties": {
          "RntlInvc": {
            "$ref": "#/components/schemas/RntlInvc"
          },
          "RntlAgrmt": {
            "$ref": "#/components/schemas/RntlAgrmtvoid"
          }
        }
      },
      "Rsn": {
        "maxLength": 35,
        "minLength": 1,
        "type": "string",
        "description": "Value for CSCV Value not entered",
        "enum": [
          "Illegible",
          "NotAttempted",
          "NotOnCard"
        ]
      },
      "NbOfPrds": {
        "type": "string",
        "description": "Number of Periods",
        "example": "1",
        "enum": [
          "1",
          "2",
          "4",
          ".5"
        ]
      },
      "LineItm": {
        "type": "array",
        "description": "A separate line item should be added to the array for each fuel, non-fuel, and expanded non-fuel product included in the transaction. The array can accept up to 1 fuel type, 8 non-fuel types, and 4 expanded non-fuel types, for a maximum of 13 line items within the array.",
        "items": {
          "$ref": "#/components/schemas/LineItmarray"
        }
      },
      "arrayPlan": {
        "type": "object",
        "properties": {
          "TtlTax": {
            "$ref": "#/components/schemas/TtlTax"
          },
          "PrdUnit": {
            "$ref": "#/components/schemas/PrdUnit"
          },
          "TtlFees": {
            "$ref": "#/components/schemas/TtlFees"
          },
          "GracePrd": {
            "$ref": "#/components/schemas/GracePrd"
          },
          "NbOfPrds": {
            "$ref": "#/components/schemas/NbOfPrds"
          },
          "PlanOwnr": {
            "$ref": "#/components/schemas/PlanOwnr"
          },
          "FrstPmtDt": {
            "$ref": "#/components/schemas/FrstPmtDt"
          },
          "GrdTtlAmt": {
            "$ref": "#/components/schemas/GrdTtlAmt"
          },
          "PctAmtReq": {
            "$ref": "#/components/schemas/PctAmtReq"
          },
          "PctTtlTax": {
            "$ref": "#/components/schemas/PctTtlTax"
          },
          "SbsqntAmt": {
            "$ref": "#/components/schemas/SbsqntAmt"
          },
          "TtlExpnss": {
            "$ref": "#/components/schemas/TtlExpnss"
          },
          "TtlInsrnc": {
            "$ref": "#/components/schemas/TtlInsrnc"
          },
          "InstlmtCcy": {
            "$ref": "#/components/schemas/InstlmtCcy"
          },
          "PctTtlFees": {
            "$ref": "#/components/schemas/PctTtlFees"
          },
          "TtlAmtFund": {
            "$ref": "#/components/schemas/TtlAmtFund"
          },
          "TtlNbOfPmts": {
            "$ref": "#/components/schemas/TtlNbOfPmts"
          },
          "TtlOthrCost": {
            "$ref": "#/components/schemas/TtlOthrCost"
          },
          "InstlmtPmtTp": {
            "$ref": "#/components/schemas/InstlmtPmtTp"
          },
          "PctTtlExpnss": {
            "$ref": "#/components/schemas/PctTtlExpnss"
          },
          "PctTtlInsrnc": {
            "$ref": "#/components/schemas/PctTtlInsrnc"
          },
          "InstlmtIntrst": {
            "$ref": "#/components/schemas/InstlmtIntrst"
          },
          "AnnlIntrstRate": {
            "$ref": "#/components/schemas/AnnlIntrstRate"
          },
          "AnnlTtlCostFin": {
            "$ref": "#/components/schemas/AnnlTtlCostFin"
          },
          "MnthIntrstRate": {
            "$ref": "#/components/schemas/MnthIntrstRate"
          },
          "PctTtlOtherCost": {
            "$ref": "#/components/schemas/PctTtlOtherCost"
          },
          "VATInstlmtIntrst": {
            "$ref": "#/components/schemas/VATInstlmtIntrst"
          }
        }
      },
      "LclAccptrId": {
        "maxLength": 15,
        "type": "string",
        "description": "Contains Spanish merchant ID when it differs from the international merchant ID."
      },
      "GatewayAddtnlDataResp": {
        "type": "object",
        "properties": {
          "Tp": {
            "type": "string",
            "description": "Mastercard, Amex, Discover/Diners Gateway data. Please reference the VPP release notes for a list of all Tp and Val pairs",
            "example": "MAICA",
            "enum": [
              "ClientDefinedData",
              "AuthID",
              "PymtIntCnl",
              "PrmtnCd",
              "AddtlNtnldata",
              "MAMID",
              "TransitProgram",
              "GrttyAmt",
              "FnlAuthInd",
              "ChpTermInd",
              "ChpPreVld",
              "ECISctyLvlId",
              "POSTermLoc",
              "AcqrSctySvcData",
              "TermnlCmplntInd",
              "MblRmtPmtTxTp",
              "PymntFcId",
              "ISOId",
              "MrchntId",
              "AthntctnSvc",
              "PanNtryMd",
              "TknAssrncMtd",
              "TknRqstrId",
              "TxIntgrty",
              "PAUT",
              "EMSScoreRqst",
              "EMSFrdScore",
              "TxSubTp",
              "AcctTpInd",
              "MAAddtlRspnData",
              "EIdRqst",
              "MPOS",
              "MA3DSData",
              "LowRskMrchtInd",
              "SnglTapInd",
              "RspnToPINRqst",
              "IssRqstPINInd",
              "MAICA",
              "DSRP",
              "RmotCmrcMrchtIdr",
              "MrchtHmCntry",
              "MCALMSvcData",
              "MerchtAdvcCd",
              "CITMIDInd",
              "PrchAmtOnlyInd",
              "SndrRefNm",
              "SspctFrd",
              "CanadaDmstcInd",
              "WlltId",
              "RcptFrTxt",
              "PrpdActLd",
              "AcctNbInd",
              "MCPOSNtryCd",
              "MCPOSPINCaptrCd",
              "MCPOSData",
              "MCAuthDtTm",
              "MCECI",
              "AmexInstlemt",
              "PhneNb",
              "Email",
              "CrdPresGdsSld",
              "AppInitdPmtTkn",
              "PANdata",
              "ReturnedPANData",
              "NmAndLctn",
              "TxInitr",
              "PmtAcctRef",
              "AuthntcnOutgInd",
              "UCOF",
              "TknECI",
              "SellerID",
              "Lst4PANReqInd",
              "AmxPOSDataCd",
              "DscvrRNtwkInf",
              "DscvrTxQlf",
              "OTHP",
              "UCAFColltnInd",
              "UCAFData"
            ]
          },
          "Val": {
            "type": "string",
            "description": "Mastercard, Amex, Discover/Diners Gateway data values. Please reference the VPP release notes for a list of all Tp and Val pairs",
            "example": "008376"
          }
        },
        "description": "Addtnldata for GatewayData. Contains Tp, Val pairs of data for non-Visa branded cards. Please reference the VPP release notes for a list of all Tp and Val pairs"
      },
      "PANFourLastDgts": {
        "maxLength": 4,
        "type": "string",
        "description": "Last 4 digits of the account number.",
        "example": "3456"
      },
      "tVoidRslt1": {
        "maxLength": 17,
        "type": "string",
        "description": "Transaction result.",
        "enum": [
          "Processed",
          "NotProcessed",
          "Error"
        ]
      },
      "Frqcy": {
        "maxLength": 4,
        "minLength": 4,
        "type": "string",
        "description": "Frequency of Recurring Payment. DAIL(daily), TWWK(twice weekly), WEEK(weekly), TEND(ten days), FRTN(fortnightly), MNTH(monthly), BIMN(every two months), TMTR(trimester), QURT(quarterly), MIAN(twice yearly), YEAR(annually),ADHO(unscheduled)",
        "example": "DAIL",
        "enum": [
          "DAIL",
          "TWWK",
          "WEEK",
          "TEND",
          "FRTN",
          "MNTH",
          "BIMN",
          "TMTR",
          "QURT",
          "MIAN",
          "YEAR",
          "ADHO"
        ]
      },
      "AnnlIntrstRate": {
        "maxLength": 8,
        "minLength": 1,
        "type": "string",
        "description": "Annual Interest Rate",
        "example": "4"
      },
      "Summryres": {
        "type": "object",
        "properties": {
          "Drvr": {
            "$ref": "#/components/schemas/Drvr"
          },
          "Vhcl": {
            "$ref": "#/components/schemas/Vhcl"
          },
          "TripInf": {
            "$ref": "#/components/schemas/TripInf"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/SummryAddtlDataTpVal"
          },
          "TxRltdData": {
            "$ref": "#/components/schemas/TxRltdData"
          },
          "AgtFuelPrmptCd1": {
            "$ref": "#/components/schemas/AgtFuelPrmptCd1"
          },
          "AgtFuelPrmptCd2": {
            "$ref": "#/components/schemas/AgtFuelPrmptCd2"
          }
        }
      },
      "tSpnsrdMrchnt": {
        "type": "object",
        "properties": {
          "Id": {
            "$ref": "#/components/schemas/tempdef12"
          }
        }
      },
      "tRskAssmntArrayReq": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/tRskAssmntReq"
        }
      },
      "tRsltData": {
        "type": "object",
        "properties": {
          "Rslt": {
            "$ref": "#/components/schemas/tRslt1"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls"
          },
          "AddtlRsltInf": {
            "$ref": "#/components/schemas/tAddtlRsltInf"
          }
        }
      },
      "tempdef15": {
        "type": "object",
        "properties": {
          "Id": {
            "maxLength": 30,
            "type": "string",
            "description": "Request from Merchant for Updated Account",
            "example": "NewPANRequested"
          }
        }
      },
      "tempdef14": {
        "type": "object",
        "properties": {
          "Id": {
            "type": "string",
            "description": "Location where the credentials are stored on file. Possible values include: VCIND - Indicates that the transaction was processed through Visa Checkout.",
            "example": "VCIND",
            "enum": [
              "VCIND"
            ]
          }
        }
      },
      "PctTtlExpnss": {
        "maxLength": 4,
        "minLength": 1,
        "type": "string",
        "description": "Percent of Total Expenses",
        "example": "3"
      },
      "tRskAssmntArrayRes": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/tRskAssmntRes"
        }
      },
      "tempdef12": {
        "type": "object",
        "properties": {
          "Id": {
            "maxLength": 15,
            "minLength": 1,
            "type": "string",
            "description": "Sub-merchant Identifier",
            "example": "520140578465770"
          }
        }
      },
      "arrayPlanres": {
        "type": "object",
        "properties": {
          "PrdUnit": {
            "$ref": "#/components/schemas/PrdUnit"
          },
          "NbOfPrds": {
            "$ref": "#/components/schemas/NbOfPrds"
          },
          "PlanOwnr": {
            "$ref": "#/components/schemas/PlanOwnr"
          },
          "GrdTtlAmt": {
            "$ref": "#/components/schemas/GrdTtlAmt"
          },
          "SbsqntAmt": {
            "$ref": "#/components/schemas/SbsqntAmt"
          },
          "InstlmtCcy": {
            "$ref": "#/components/schemas/InstlmtCcy"
          },
          "TtlNbOfPmts": {
            "$ref": "#/components/schemas/TtlNbOfPmts"
          }
        }
      },
      "tempdef42": {
        "type": "object",
        "properties": {
          "Vrfctn": {
            "$ref": "#/components/schemas/tVrfctn"
          },
          "TxCntxt": {
            "$ref": "#/components/schemas/tTxCntxt"
          },
          "SaleCntxt": {
            "$ref": "#/components/schemas/tSaleCntxt"
          },
          "PtOfSvcCntxt": {
            "$ref": "#/components/schemas/tempdef46"
          }
        }
      },
      "XpctdClrDt": {
        "type": "string",
        "description": "Expected clearing date of the transaction. Date is in Julian date format, yddd",
        "example": "4077"
      },
      "tSpclConds1": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/Id1"
        }
      },
      "tempdef41": {
        "type": "object",
        "properties": {
          "Card": {
            "$ref": "#/components/schemas/tCardC"
          },
          "Accptr": {
            "$ref": "#/components/schemas/tempdef44"
          },
          "Termnl": {
            "$ref": "#/components/schemas/tTermnl"
          }
        }
      },
      "tempdef27DtlsNmValres": {
        "type": "object",
        "properties": {
          "Nm": {
            "maxLength": 35,
            "type": "string",
            "description": "Contains a special program detail response value. For “ACI”, response values can be found in field 62.1 of the Full Service POS Online Messages Technical Specifications document. For “ValCode”, response values can be found in field 62.3 of the Full Service POS Online Messages Technical Specifications document. For “BusTranTp”, valid value is “1” - Token program. For “USREG”, valid values are “REGU” – regulated account, and “NREG” – nonregulated. For “MVV”, the value sent in the request will be returned in the response. For “SPEND”, the value sent in the request will be returned in the response. For “DwngdRsnCd”, response values can be found in field 62.3 of the Full Service POS Online Messages Technical Specifications document",
            "enum": [
              "ACI",
              "ValCode",
              "MVV",
              "SPEND",
              "BusTranTp",
              "USREG",
              "DwngdRsnCd",
              "EVV"
            ]
          },
          "Val": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "description": "Contains a value “Val” for each “Tp” included in the array. Valid values: REGU – regulated account, NREG – non-regulated account. Valid values for RmbrsmntAttr: 0 - Chip Standard purchase and credit voucher transactions—Canada. Code U also applies to these transactions, 3 - EPS (Australia and New Zealand) and NSR(Canada), 4 - Supermarket Incentive Program (U.S. only), 5 - Electronic Commerce Fee, 7 - Electronic Data Capture(VE only). Not for Asia-Pacific region for original draft transactions.CNP and CVV2 fee programs(VE), 8 - PIN-authenticated Visa Debit, 9 - VPAY Large-Market Petrol (VE Only), B - Applies to:Interregional Electronic, CEMEA Intraregional Electronic, Asia-Pacific Electronic Reimbursement Fee, Canada Chip Fee(only in response), U.K. Card Not Present, U.K. Electronic Hot Card File, International Visa Electron Card, U.K. Airline Interim Interchange Reimbursement Fee VE, Electronic Online Authorized (EOA), Europe EMV Fee, C - Reserved, D - Reserved: Delta-only merchant standard Interchange Reimbursement Fee(U.K. only). CPS/Charity and Religious Organizations and CPS/Retail 2 Fee Programs with MCCs of 8398 (Charitable and Social Service Organizations) and 8661 (Religious Organizations) for specific merchants meeting program requirements(U.S. only), E - Reserved, F - Delta-only merchant Electronic Interchange Reimbursement Fee (U.K. only). Recurring Payment and Emerging Segment Recurring Payment Interchange Reimbursement Fee(Canada only), J - Electronic Interchange Reimbursement Fee (U.S. only). Chip Electronic purchase and credit voucher transactions (Canada only), K - Key-entered Payment Service Reimbursement Fee(U.S. only for select developing markets only), L - Reserved for future use: BASE II Draft data transactions only, M - Card not present Interchange Reimbursement Fee(Canada only), N-S - Reserved for future use: BASE II Draft data transactions only, T - Reserved, U - Emerging Segment Standard(Canada). Chip Standard purchase and credit voucher transactions(Canada). Code 0 also applies to these  transactions. In addition, code 0 applies to Chip Standard transactions that request VPP fee programs. Chip Standard transactions that meet Emerging Segment Standard eligibility requirements and fee edit criteria must be submitted with code U., V - Reserved. Valid values for EVV: Any combination of Alphanumeric. No special characters. i.e '00000', '12345', 'ABC12'.",
            "example": "REGU"
          }
        },
        "example": [
          {
            "Nm": "ACI",
            "Val": "Y"
          },
          {
            "Nm": "MVV",
            "Val": "7000028765"
          },
          {
            "Nm": "BusTranTp",
            "Val": "1"
          }
        ]
      },
      "tempdef27DtlsNmValreq": {
        "type": "object",
        "properties": {
          "Nm": {
            "maxLength": 35,
            "type": "string",
            "description": "Contains a special program detail request value. For “RmbrsmntAttr”, please view the VPP February 2023 release notes for all valid values. For “ACI”, valid values are “Y” – requests participation, “R” – recuring payment, “I” – increment to previously approved transaction, and “P” – preferred customer. For “ReqPmtSvc”, valid values can be found in field 62.15 of the Full Service POS Online Messages Technical Specifications document. For “MVV”, clients should send in a 10 digit MVV. Should the MVV be 6 digits, clients should zero-fill the remaining 4 spaces. For “SPEND”, valid values are “B” – base spend assessment has been met, “N” – spend assessment has not been met, and “Q” – qualified spend assessment has been met.",
            "enum": [
              "ACI",
              "ReqPmtSvc",
              "MVV",
              "SPEND",
              "RmbrsmntAttr",
              "EVV"
            ]
          },
          "Val": {
            "maxLength": 10,
            "minLength": 1,
            "type": "string",
            "description": "Contains a value “Val” for each “Tp” included in the array. Valid values: REGU – regulated account, NREG – non-regulated account. Valid values for RmbrsmntAttr: 0 - Chip Standard purchase and credit voucher transactions—Canada. Code U also applies to these transactions, 3 - EPS (Australia and New Zealand) and NSR(Canada), 4 - Supermarket Incentive Program (U.S. only), 5 - Electronic Commerce Fee, 7 - Electronic Data Capture(VE only). Not for Asia-Pacific region for original draft transactions.CNP and CVV2 fee programs(VE), 8 - PIN-authenticated Visa Debit, 9 - VPAY Large-Market Petrol (VE Only), B - Applies to:Interregional Electronic, CEMEA Intraregional Electronic, Asia-Pacific Electronic Reimbursement Fee, Canada Chip Fee(only in response), U.K. Card Not Present, U.K. Electronic Hot Card File, International Visa Electron Card, U.K. Airline Interim Interchange Reimbursement Fee VE, Electronic Online Authorized (EOA), Europe EMV Fee, C - Reserved, D - Reserved: Delta-only merchant standard Interchange Reimbursement Fee(U.K. only). CPS/Charity and Religious Organizations and CPS/Retail 2 Fee Programs with MCCs of 8398 (Charitable and Social Service Organizations) and 8661 (Religious Organizations) for specific merchants meeting program requirements(U.S. only), E - Reserved, F - Delta-only merchant Electronic Interchange Reimbursement Fee (U.K. only). Recurring Payment and Emerging Segment Recurring Payment Interchange Reimbursement Fee(Canada only), J - Electronic Interchange Reimbursement Fee (U.S. only). Chip Electronic purchase and credit voucher transactions (Canada only), K - Key-entered Payment Service Reimbursement Fee(U.S. only for select developing markets only), L - Reserved for future use: BASE II Draft data transactions only, M - Card not present Interchange Reimbursement Fee(Canada only), N-S - Reserved for future use: BASE II Draft data transactions only, T - Reserved, U - Emerging Segment Standard(Canada). Chip Standard purchase and credit voucher transactions(Canada). Code 0 also applies to these  transactions. In addition, code 0 applies to Chip Standard transactions that request VPP fee programs. Chip Standard transactions that meet Emerging Segment Standard eligibility requirements and fee edit criteria must be submitted with code U., V - Reserved. Valid values for EVV: Any combination of Alphanumeric. No special characters. i.e '00000', '12345', 'ABC12'.",
            "example": "Y"
          }
        },
        "example": [
          {
            "Nm": "ACI",
            "Val": "Y"
          }
        ]
      },
      "CardPrgrmm": {
        "type": "object",
        "properties": {
          "CardPrgrmmApld": {
            "$ref": "#/components/schemas/CardPrgrmmApld"
          }
        }
      },
      "FrstPmtDt": {
        "maxLength": 6,
        "minLength": 6,
        "type": "string",
        "description": "Date of First Installment YYMMDD",
        "example": "230421"
      },
      "PINData": {
        "type": "object",
        "properties": {
          "Algo": {
            "maxLength": 2,
            "type": "string",
            "description": "Algorithm ID",
            "example": "01"
          },
          "KeyIndx": {
            "maxLength": 2,
            "type": "string",
            "description": "Zone Key Index",
            "example": "01"
          },
          "PINBlckFrmt": {
            "maxLength": 2,
            "type": "string",
            "description": "PIN Block Format",
            "example": "01"
          }
        },
        "description": "Security Related Control Information"
      },
      "TtlAmtFund": {
        "maxLength": 13,
        "minLength": 1,
        "type": "string",
        "description": "Total Amount Funded",
        "example": "23.00"
      },
      "AddtlDataPrchRstrctnInd": {
        "type": "object",
        "properties": {
          "Tp": {
            "maxLength": 14,
            "type": "string",
            "description": "Purchase Restriction Flag. Allows merchants to indicate POS terminal can support card restrictions",
            "example": "PrchRstrctnInd",
            "enum": [
              "PrchRstrctnInd"
            ]
          },
          "Val": {
            "maxLength": 1,
            "minLength": 1,
            "type": "string",
            "description": "Contains card restriction value. Valid values: “0” – false, “1” – true ",
            "example": "1"
          }
        }
      },
      "Id1": {
        "type": "object",
        "properties": {
          "Id": {
            "maxLength": 30,
            "type": "string",
            "description": "Request from Merchant for Updated Account.",
            "example": "NewPANRequested"
          }
        }
      },
      "tTxAmt": {
        "type": "object",
        "properties": {
          "Amt": {
            "$ref": "#/components/schemas/Amt"
          },
          "Ccy": {
            "$ref": "#/components/schemas/Ccy"
          }
        }
      },
      "tempdef49": {
        "type": "object",
        "properties": {
          "Rslt": {
            "$ref": "#/components/schemas/tVoidRslt1"
          },
          "RsltDtls": {
            "$ref": "#/components/schemas/RsltDtls"
          },
          "AddtlRsltInf": {
            "$ref": "#/components/schemas/tAddtlRsltInf"
          }
        }
      },
      "tempdef47": {
        "type": "object",
        "properties": {
          "RsltData": {
            "$ref": "#/components/schemas/tempdef49"
          },
          "ApprvlData": {
            "$ref": "#/components/schemas/tApprvlData"
          }
        }
      },
      "Ldgg": {
        "type": "object",
        "properties": {
          "Summry": {
            "$ref": "#/components/schemas/LdggSummry"
          },
          "LdggLineItm": {
            "$ref": "#/components/schemas/LdggLineItm"
          }
        }
      },
      "tempdef46": {
        "type": "object",
        "properties": {
          "MOTOInd": {
            "$ref": "#/components/schemas/MOTOInd"
          },
          "CardPres": {
            "$ref": "#/components/schemas/CardPres"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/AddtlDataPrchRstrctnInd"
          },
          "AttnddInd": {
            "$ref": "#/components/schemas/AttnddInd"
          },
          "EComrcInd": {
            "$ref": "#/components/schemas/EComrcInd"
          },
          "SpclConds": {
            "$ref": "#/components/schemas/tSpclConds1"
          },
          "CrdhldrPres": {
            "$ref": "#/components/schemas/CrdhldrPres"
          },
          "CrdhldrActvtd": {
            "$ref": "#/components/schemas/CrdhldrActvtd"
          },
          "CardDataNtryMd": {
            "$ref": "#/components/schemas/CardDataNtryMd"
          }
        }
      },
      "tempdef44": {
        "type": "object",
        "properties": {
          "Id": {
            "$ref": "#/components/schemas/aId"
          },
          "Adr": {
            "$ref": "#/components/schemas/tAdr"
          },
          "ShrtNm": {
            "$ref": "#/components/schemas/ShrtNm"
          },
          "AddtlId": {
            "$ref": "#/components/schemas/AddtlId"
          },
          "AddtlIds": {
            "$ref": "#/components/schemas/AddtlIdsTpVal"
          },
          "CstmrSvc": {
            "$ref": "#/components/schemas/CstmrSvc"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/AccAddtlDataTpVal"
          },
          "FrgnRtlrInd": {
            "$ref": "#/components/schemas/tFrgnRtlrInd"
          },
          "SpnsrdMrchnt": {
            "$ref": "#/components/schemas/tSpnsrdMrchnt"
          },
          "PaymentFacltId": {
            "$ref": "#/components/schemas/tAcceptorId"
          }
        }
      },
      "tMessageIdentificationError": {
        "type": "object",
        "properties": {
          "reqstId": {
            "$ref": "#/components/schemas/reqstId"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId"
          }
        },
        "description": "Message identification and tracing elements."
      },
      "tempdef43": {
        "type": "object",
        "properties": {
          "AcctFr": {
            "$ref": "#/components/schemas/tAcctFr"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/tTxAmts1"
          },
          "TxAttr": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TxAttr"
            }
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlSvc": {
            "$ref": "#/components/schemas/AddtlSvc"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/tTxAddtlDataTpVal"
          },
          "AltrnMsgRsn": {
            "$ref": "#/components/schemas/AltrnMsgRsn"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/tSpclPrgrmmQlfctn"
          }
        }
      },
      "Fleetres": {
        "type": "object",
        "properties": {
          "Summry": {
            "$ref": "#/components/schemas/Summryres"
          },
          "LineItm": {
            "$ref": "#/components/schemas/LineItmres"
          }
        }
      },
      "tempdef31": {
        "type": "object",
        "properties": {
          "Card": {
            "$ref": "#/components/schemas/tempdef83"
          },
          "Accptr": {
            "$ref": "#/components/schemas/resAccptr"
          },
          "Termnl": {
            "$ref": "#/components/schemas/tTermnlRes"
          }
        }
      },
      "CrdhldrPres": {
        "type": "boolean",
        "description": "Card Holder Present",
        "example": true
      },
      "clientId": {
        "maxLength": 32,
        "type": "string",
        "description": "Client Identification is a unique value assigned by Visa",
        "example": "1VISAGCT000001"
      },
      "CountryCd": {
        "maxLength": 3,
        "minLength": 3,
        "type": "string",
        "description": "Contains a country code for jurisdictions participating in domestic processing.",
        "example": "170"
      },
      "tApprvlData": {
        "type": "object",
        "properties": {
          "ApprvlCd": {
            "$ref": "#/components/schemas/ApprvlCd"
          }
        }
      },
      "CtrySubDvsnMnr": {
        "maxLength": 3,
        "minLength": 3,
        "type": "string",
        "description": "The 3-character, card acceptor county code. For a U.S. card acceptor, it contains a 3-digit numeric county code as defined in FIPS PUB 6.3, 1979 (Federal Information Processing Standards Publication-Counties and County Equivalents of the States of the United States). This subfield does not apply to Canadian transactions.",
        "example": "002"
      },
      "AttnddInd": {
        "type": "boolean",
        "description": "Used to indicate if the card acceptor’s representative is in attendance during the transaction. Semi-attended terminals (e.g., multiple terminals supervised by a single clerk) is considered attended. ",
        "example": true
      },
      "FuelInd": {
        "maxLength": 5,
        "minLength": 4,
        "type": "string",
        "description": "Fuel indicator. This indicator should be included in each line item and describe if the product code for the line item is fuel (“FuelInd” = “true”), non-fuel (“FuelInd” = “false”), or expanded non-fuel (“FuelInd” = “false”)",
        "example": "true",
        "enum": [
          "true",
          "false"
        ]
      },
      "AddtlAccptrData": {
        "type": "object",
        "properties": {
          "TxRegnId": {
            "maxLength": 20,
            "type": "string",
            "description": "Merchant VAT Registration/ Single Business Reference Number",
            "example": "123456789a123456789a"
          }
        }
      },
      "SummryAddtlDataTpVal": {
        "type": "object",
        "properties": {
          "Tp": {
            "maxLength": 13,
            "type": "string",
            "description": "Fuel Transaction Validation Results",
            "example": "FuelTxValRslt"
          },
          "Val": {
            "maxLength": 5,
            "type": "string",
            "description": "Value for Fuel Transaction Validation Results",
            "example": "12345"
          }
        }
      },
      "AdddmDatares": {
        "type": "object",
        "properties": {
          "Cstmr": {
            "$ref": "#/components/schemas/Cstmr"
          },
          "Fleet": {
            "$ref": "#/components/schemas/Fleetres"
          },
          "Instlmt": {
            "$ref": "#/components/schemas/Instlmtres"
          },
          "RcrngPmt": {
            "$ref": "#/components/schemas/RcrngPmt"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/AddtlData"
          },
          "AddtlAccptrData": {
            "$ref": "#/components/schemas/AddtlAccptrData"
          }
        }
      },
      "tRskAssmntArray": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/tRskAssmnt"
        }
      },
      "Dprture": {
        "type": "object",
        "properties": {
          "Dt": {
            "maxLength": 6,
            "type": "string",
            "description": "This value is the date of departure in mmddyy format.",
            "example": "062524"
          },
          "Lctn": {
            "maxLength": 3,
            "type": "string",
            "description": "3 character IATA airport code for the original departure location.",
            "example": "ATL"
          }
        }
      },
      "tempdef38": {
        "type": "object",
        "properties": {
          "AcctFr": {
            "$ref": "#/components/schemas/tAcctFrresp"
          },
          "TxAmts": {
            "$ref": "#/components/schemas/tTxAmts"
          },
          "TxIdres": {
            "$ref": "#/components/schemas/TxIdres"
          },
          "TxSubTp": {
            "$ref": "#/components/schemas/TxSubTp"
          },
          "AddtlSvc": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AddtlSvcRes"
            }
          },
          "AddtlAmts": {
            "$ref": "#/components/schemas/tAddtlAmts"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/tTxAddtlDataTpVal"
          },
          "AssoctdDataDstn": {
            "$ref": "#/components/schemas/AssoctdDataDstn"
          },
          "SpclPrgrmmQlfctn": {
            "$ref": "#/components/schemas/tSpclPrgrmmQlfctnPgm"
          }
        }
      },
      "PAN": {
        "maxLength": 19,
        "minLength": 13,
        "type": "string",
        "description": "Account number or token used in the transaction.",
        "example": "4234567890123456"
      },
      "tAddtlRsltInf1": {
        "type": "object",
        "properties": {
          "Tp": {
            "maxLength": 11,
            "type": "string",
            "description": "Type of Additional Result. Possible Values: Dupl, AcctStatus, VAURsnCd",
            "example": "AcctStatus"
          },
          "Val": {
            "maxLength": 6,
            "type": "string",
            "description": "Additional transaction result information If Tp=Dupl, no value is required. If Tp=AcctStatus, Possible Values are Closed(C), Contact Cardholder(Q), Expiration Date Change(E), Account Number Change(A). If Tp=VauRsnCd, possible values are VAU001 (Transaction did not qualify for Real Time VAU because the transaction contains token),VAU002 (Real Time VAU is supported only for Visa-branded PAN),VAU003 (Real Time VAU is not supported for the network),VAU004 (Transaction is not original purchase, purchase return, bill payment, account funding, or original credit),VAU005 (Transaction contains CVV2),VAU007 (Real Time VAU is not supported for this MCC),VAU008 (Acquirer of processor is not activated for Real Time VAU),VAU009 (Issuer does not support Real Time VAU),VAU010 (Issuer or Visa blocked the merchant),VAU012 (Credentials in the authorization request is the latest VAU data),VAU013 (Expiry date in the authorization request is later than VAU data),VAU014 (PAN has been opted out of VAU),VAU015 (Transaction is a face-to-face transaction type),VAU016 (PAN has stop advice set up)",
            "example": "C"
          }
        }
      },
      "tempdef32": {
        "type": "object",
        "properties": {
          "Vrfctn": {
            "$ref": "#/components/schemas/tVrfctnRes"
          },
          "TxCntxt": {
            "$ref": "#/components/schemas/tTxCntxtRes"
          },
          "RskCntxt": {
            "$ref": "#/components/schemas/tRskCntxtRes"
          },
          "PtOfSvcCntxt": {
            "$ref": "#/components/schemas/PtOfSvcCntxt"
          }
        }
      },
      "GatewayData": {
        "type": "object",
        "properties": {
          "AddtnlData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GatewayAddtnlData"
            }
          },
          "GatewayBrand": {
            "$ref": "#/components/schemas/GatewayBrand"
          }
        }
      },
      "TaxTtl": {
        "type": "object",
        "properties": {
          "TaxXmptn": {
            "type": "boolean",
            "description": "Miscellaneous Fuel Tax Exemption Status. true(Exempt), false(Non-exempt)",
            "example": false
          }
        }
      },
      "LineItmarrayres": {
        "type": "object",
        "properties": {
          "SvcTp": {
            "$ref": "#/components/schemas/SvcTp"
          },
          "FuelInd": {
            "$ref": "#/components/schemas/FuelInd"
          },
          "PdctQty": {
            "$ref": "#/components/schemas/PdctQty"
          },
          "UnitCost": {
            "$ref": "#/components/schemas/UnitCost"
          },
          "FuelBrndCd": {
            "$ref": "#/components/schemas/FuelBrndCd"
          },
          "FleetPdctCd": {
            "$ref": "#/components/schemas/FleetPdctCd"
          },
          "UnitOfMeasr": {
            "$ref": "#/components/schemas/UnitOfMeasr"
          },
          "EFleetPdctCd": {
            "$ref": "#/components/schemas/EFleetPdctCd"
          }
        }
      },
      "TracData": {
        "type": "object",
        "properties": {
          "TracData": {
            "$ref": "#/components/schemas/tTracData"
          }
        }
      },
      "tRsltDtls": {
        "maxLength": 2,
        "minLength": 2,
        "type": "string",
        "description": "Results of transaction request.",
        "example": "00"
      },
      "VrfctnInf": {
        "type": "object",
        "properties": {
          "Tp": {
            "type": "string",
            "description": "Tp value for verification. Possible value is authenticationValue (3DS (3D Secure)) authentication performed during a secure electronic commerce transaction)",
            "example": "authenticationValue"
          },
          "Rsn": {
            "$ref": "#/components/schemas/Rsn"
          },
          "Val": {
            "$ref": "#/components/schemas/Val"
          }
        }
      },
      "tTxAmts1": {
        "type": "object",
        "properties": {
          "TxAmt": {
            "$ref": "#/components/schemas/tTxAmt"
          },
          "DtldAmt": {
            "$ref": "#/components/schemas/DtldAmt"
          }
        }
      },
      "GatewayDataResp": {
        "type": "object",
        "properties": {
          "AddtnlData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GatewayAddtnlDataResp"
            }
          },
          "GatewayBrand": {
            "$ref": "#/components/schemas/GatewayBrand"
          },
          "SplmntryData": {
            "$ref": "#/components/schemas/GatewaySplmntryData"
          }
        }
      },
      "tTxAmts2": {
        "type": "object",
        "properties": {
          "TxAmt": {
            "$ref": "#/components/schemas/tTxAmt"
          },
          "AmtQlfr": {
            "$ref": "#/components/schemas/tAmtQlfr"
          },
          "DtldAmt": {
            "$ref": "#/components/schemas/DtldAmt"
          }
        }
      },
      "PstlCd": {
        "maxLength": 9,
        "minLength": 5,
        "type": "string",
        "description": "card acceptor postal or ZIP code. When present in a U.S. transaction, it contains the 5-digit or 9-digit ZIP Code (5-digit ZIP code plus 4-digit extension) for the location of the customer transaction. When present in a Canadian transaction, this subfield contains the 6- or 9-character alphanumeric postal code (the 9-character alphanumeric Canadian postal code is the 6-character alphanumeric postal code followed by three zeros). When it is present in a Brazilian transaction, this subfield contains the 8-character numeric postal code",
        "example": "78641"
      },
      "Vhcl": {
        "type": "object",
        "properties": {
          "Odmtr": {
            "maxLength": 7,
            "type": "string",
            "description": "Odometer Reading",
            "example": "120"
          },
          "TrlrNb": {
            "maxLength": 16,
            "type": "string",
            "description": "Fleet Trailer Number. Contains the trailer number for the Visa Fleet cardholder or vehicle-assigned card.",
            "example": "123456789iururei"
          },
          "FleetNb": {
            "maxLength": 8,
            "type": "string",
            "description": "Fleet Number",
            "example": "1234567h"
          },
          "VhclIdNb": {
            "maxLength": 14,
            "type": "string",
            "description": "Vehicle Registration Number",
            "example": "123456789asdfg"
          }
        }
      },
      "tRslt": {
        "maxLength": 4,
        "type": "string",
        "description": "Verification result. SUCC - Success, NOVF - Unable to verify, FAIL - Failure, ERRR - Error in verifying, MISS - Missing required value",
        "enum": [
          "SUCC",
          "NOVF",
          "FAIL",
          "ERRR",
          "MISS"
        ]
      },
      "CstmrSvc": {
        "maxLength": 13,
        "minLength": 1,
        "type": "string",
        "description": "Card-present transactions: contains the location of the merchant outlet where the transaction took place. Card-not-present transactions: contains the merchant’s customer service telephone number, the merchant’s universal resource locator (URL) or internet/e-mail address.",
        "example": "14155552235"
      },
      "GatewaySplmntryData": {
        "type": "object",
        "properties": {
          "TSPId": {
            "type": "string",
            "description": "Token Requestor - Token Service Provider ID",
            "example": "00000040293"
          },
          "MsgClss": {
            "type": "string",
            "description": "contains the 4-digit message type identifier from the original message.",
            "example": "0200"
          },
          "Termnltp": {
            "maxLength": 8,
            "type": "string",
            "description": "This field contains a code that identifies a terminal at the card acceptor location, by itself or in conjunction with Card Acceptor Identification Code, when the value is not unique to a terminal.  An identification code of fewer than 8 positions must be left-justified and the remainder of the field space-filled",
            "example": "VGCTapi1"
          },
          "POSCondCd": {
            "type": "string",
            "description": "contains a code identifying transaction conditions at the point-of-sale or point of service. For messages that follow an original request, this code identifies the type of processing being done.",
            "example": "59"
          },
          "ChipCondCd": {
            "$ref": "#/components/schemas/ICCFllbckInd"
          },
          "RtrvlRefNb": {
            "type": "string",
            "description": "This field contains a number that is used with other data elements as a key to identify and track all messages related to a given cardholder transaction; that is, to a given transaction set.",
            "example": "300920871687"
          },
          "TknRqstrId": {
            "type": "string",
            "description": "Token Requestor ID",
            "example": "40010030273"
          },
          "SysTracAudtNb": {
            "type": "string",
            "description": "This field contains a number assigned by the message initiator that uniquely identifies a cardholder transaction and all message types",
            "example": "871687"
          },
          "TrnsmssnDtTm ": {
            "$ref": "#/components/schemas/LocalDateTime"
          },
          "CardDataNtryMd": {
            "$ref": "#/components/schemas/CardDataNtryMd"
          },
          "CardRdngCpblty": {
            "$ref": "#/components/schemas/CardRdngCpblty"
          }
        },
        "description": "SplmntryData for GatewayData. Contains supplementary data fields"
      },
      "tMessageIdentificationVoidReq": {
        "type": "object",
        "properties": {
          "clientId": {
            "$ref": "#/components/schemas/clientId"
          },
          "correlatnId": {
            "$ref": "#/components/schemas/correlatnId"
          }
        },
        "description": "Message identification and tracing elements."
      },
      "authorizations_void": {
        "type": "object",
        "properties": {
          "Hdr": {
            "type": "object",
            "properties": {
              "NttyId": {
                "$ref": "#/components/schemas/NttyId"
              },
              "TracData": {
                "$ref": "#/components/schemas/TracData"
              }
            }
          },
          "Body": {
            "title": "Body",
            "type": "object",
            "properties": {
              "Tx": {
                "$ref": "#/components/schemas/tempdef43"
              },
              "Envt": {
                "$ref": "#/components/schemas/tempdef41"
              },
              "Cntxt": {
                "$ref": "#/components/schemas/tempdef42"
              },
              "NtnlData": {
                "$ref": "#/components/schemas/NtnlData"
              },
              "AdddmData": {
                "$ref": "#/components/schemas/AdddmDatavoid"
              },
              "ICCRltdData": {
                "$ref": "#/components/schemas/ICCRltdData"
              },
              "SplmtryData": {
                "$ref": "#/components/schemas/SplmtryDataReq"
              }
            }
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/tMessageIdentificationVoidReq"
          }
        },
        "description": "Used to void an \"Authorization\" resource"
      },
      "tAddtlAmts": {
        "type": "object",
        "properties": {
          "Tp": {
            "maxLength": 4,
            "type": "string",
            "description": "Contains transaction additional amount type. Possible values are AMTQ - Requested amount (Transaction amount that has been requested to be authorized)",
            "example": "AMTQ",
            "enum": [
              "AMTQ"
            ]
          },
          "Amt": {
            "$ref": "#/components/schemas/tAmt1"
          }
        }
      },
      "tRskAssmnt": {
        "type": "object",
        "properties": {
          "Rslt": {
            "$ref": "#/components/schemas/RskAssmntRslt"
          },
          "RskAssmntTp": {
            "$ref": "#/components/schemas/RskAssmntTp"
          },
          "AddtlRskData": {
            "$ref": "#/components/schemas/tAddtlRskData"
          }
        }
      },
      "authCapture": {
        "type": "object",
        "properties": {
          "href": {
            "type": "object",
            "description": "Hypermedia links.",
            "example": "https://sandbox.api.visa.com/acs/v3/payments/authorizations/123456789012345/captures"
          }
        }
      },
      "TxAttr": {
        "maxLength": 4,
        "minLength": 4,
        "type": "string",
        "description": "Contains Transaction Attribute Type.Possible values: INST (Installment payment), RCPT (Recurring payment), DBRP (Debt repayment), UCOF (Unscheduled Credentials on File), MOTO (Mail Order/Telephone Order), DFRD (Deferred), PAUT(Pre-Authorisation).",
        "example": "RCPT",
        "enum": [
          "INST",
          "RCPT",
          "DBRP",
          "UCOF",
          "MOTO",
          "DFRD",
          "PAUT"
        ]
      },
      "NbOfPmt": {
        "maxLength": 2,
        "minLength": 2,
        "type": "string",
        "description": "Number of Recurring Payment. 01-99 – Helps the issuer to identify total number of recurring debits for that cardholder as agreed with merchant. Value of 99 means that recurring payments are authorized until canceled or that the Number of Recurring Payments is not defined.",
        "example": "01"
      },
      "CrdhldrVrfctnCpblty": {
        "type": "object",
        "properties": {
          "Cpblty": {
            "$ref": "#/components/schemas/Cpblty"
          }
        }
      },
      "PdctQty": {
        "maxLength": 12,
        "minLength": 12,
        "type": "string",
        "description": "Quantity of fuel, non-fuel, or expanded non-fuel product purchased. Three Decimal Places are implied.",
        "example": "25"
      },
      "PINPadInprtv": {
        "type": "boolean",
        "description": "Contains a PIN Pad indicator which is used to indicate whether or not the PIN pad is operative.",
        "example": false
      },
      "authorizations_void_id": {
        "type": "object",
        "properties": {
          "Hdr": {
            "type": "object",
            "properties": {
              "NttyId": {
                "$ref": "#/components/schemas/NttyId"
              },
              "TracData": {
                "$ref": "#/components/schemas/TracData"
              }
            }
          },
          "Body": {
            "title": "Body",
            "required": [
              "Envt"
            ],
            "type": "object",
            "properties": {
              "Tx": {
                "$ref": "#/components/schemas/tempdef43"
              },
              "Envt": {
                "$ref": "#/components/schemas/tempdef41"
              },
              "Cntxt": {
                "$ref": "#/components/schemas/tempdef42"
              },
              "NtnlData": {
                "$ref": "#/components/schemas/NtnlData"
              },
              "AdddmData": {
                "$ref": "#/components/schemas/AdddmDatavoid"
              },
              "GatewayData": {
                "$ref": "#/components/schemas/GatewayData"
              },
              "ICCRltdData": {
                "$ref": "#/components/schemas/ICCRltdData"
              },
              "SplmtryData": {
                "$ref": "#/components/schemas/SplmtryDataReq"
              }
            }
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/tMessageIdentificationVoidReq"
          }
        },
        "description": "Used to void an \"Authorization\" resource"
      },
      "tAddtlRsltInf": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/tAddtlRsltInf1"
        }
      },
      "200_authorizations": {
        "type": "object",
        "properties": {
          "Hdr": {
            "$ref": "#/components/schemas/TracData"
          },
          "Body": {
            "title": "Body",
            "required": [
              "Envt"
            ],
            "type": "object",
            "properties": {
              "Tx": {
                "$ref": "#/components/schemas/tempdef38"
              },
              "Envt": {
                "$ref": "#/components/schemas/tempdef31"
              },
              "Cntxt": {
                "$ref": "#/components/schemas/tempdef32"
              },
              "PrcgRslt": {
                "$ref": "#/components/schemas/tPrcgRslt"
              },
              "AdddmData": {
                "$ref": "#/components/schemas/AdddmDatares"
              },
              "GatewayData": {
                "$ref": "#/components/schemas/GatewayDataResp"
              },
              "ICCRltdData": {
                "$ref": "#/components/schemas/ICCRltdData"
              },
              "SplmtryData": {
                "$ref": "#/components/schemas/SplmtryDataRes"
              }
            }
          },
          "_links": {
            "$ref": "#/components/schemas/tempdef56"
          },
          "msgIdentfctn": {
            "$ref": "#/components/schemas/tMessageIdentificationRsp"
          }
        }
      },
      "Ctry": {
        "maxLength": 2,
        "minLength": 2,
        "type": "string",
        "description": "The 2-character, uppercase alpha code for the country where the customer transaction occurs",
        "example": "US"
      },
      "InstlmtCcy": {
        "maxLength": 3,
        "minLength": 3,
        "type": "string",
        "description": "Currency code associated with the instalment amount.  ISO 4217 \"Codes for the representation of currencies and funds\".",
        "example": "840"
      },
      "TxRltdData": {
        "type": "object",
        "properties": {
          "Tax": {
            "$ref": "#/components/schemas/Tax"
          },
          "TaxTtl": {
            "$ref": "#/components/schemas/TaxTtl"
          },
          "PurchsTp": {
            "$ref": "#/components/schemas/PurchsTp"
          },
          "SummryCmmdtyId": {
            "$ref": "#/components/schemas/SummryCmmdtyId"
          }
        }
      },
      "CrdhldrActvtd": {
        "type": "boolean",
        "description": "Contains an unattended  cardholder activated environment indicator which indicates whether the automated device was operated solely by the cardholder or not (e.g., vending machine, automated fuel dispenser, ATM, kiosk, etc.)",
        "example": false
      },
      "tmsg": {
        "maxLength": 255,
        "type": "string",
        "description": "Message providing more details about the error",
        "example": "Invalid Primary Account"
      },
      "PctTtlFees": {
        "maxLength": 4,
        "minLength": 1,
        "type": "string",
        "description": "Percent of Total Fees",
        "example": "4"
      },
      "tAccptr": {
        "type": "object",
        "properties": {
          "Id": {
            "$ref": "#/components/schemas/aId"
          },
          "Adr": {
            "$ref": "#/components/schemas/tAdr"
          },
          "ShrtNm": {
            "$ref": "#/components/schemas/ShrtNm"
          },
          "AddtlId": {
            "$ref": "#/components/schemas/AddtlId"
          },
          "AddtlIds": {
            "$ref": "#/components/schemas/AddtlIdsTpVal"
          },
          "CstmrSvc": {
            "$ref": "#/components/schemas/CstmrSvc"
          },
          "AddtlData": {
            "$ref": "#/components/schemas/AccAddtlDataTpVal"
          },
          "FrgnRtlrInd": {
            "$ref": "#/components/schemas/tFrgnRtlrInd"
          },
          "SpnsrdMrchnt": {
            "$ref": "#/components/schemas/tSpnsrdMrchnt"
          },
          "PaymentFacltId": {
            "$ref": "#/components/schemas/tAcceptorId"
          }
        }
      },
      "RskAssmntRsltRes": {
        "maxLength": 14,
[...]
